<?xml version="1.0" encoding="utf-8" ?>
<log4net>

	<appender name="ApiRollingFileAppender" type="UGTS.Log4NetCleaner.SelfCleaningRollingFileAppender, UGTS.Log4NetCleaner">
		<file type="log4net.Util.PatternString" value="%env{LogPath}/API-log-file/" />
		<appendToFile value="true" />
		<rollingStyle value="Date" />
		<datePattern value="yyyyMMdd'.log'" />
		<staticLogFileName value="false" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
		</layout>
		<cleaner type="UGTS.Log4NetCleaner.LogCleaner, UGTS.Log4NetCleaner">
			<maximumFileAgeDays value="30" />
		</cleaner>
	</appender>

	<appender name="MvcRollingFileAppender" type="UGTS.Log4NetCleaner.SelfCleaningRollingFileAppender, UGTS.Log4NetCleaner">
		<file type="log4net.Util.PatternString">
			<conversionPattern value="%env{LogPath}/MVC-log-file/"/>
		</file>
		<appendToFile value="true" />
		<rollingStyle value="Date" />
		<datePattern value="yyyyMMdd'.log'" />
		<staticLogFileName value="false" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
		</layout>
		<cleaner type="UGTS.Log4NetCleaner.LogCleaner, UGTS.Log4NetCleaner">
			<maximumFileAgeDays value="30" />
		</cleaner>
	</appender>

	<logger name="ApiLogger">
		<level value="ALL" />
		<appender-ref ref="ApiRollingFileAppender" />
	</logger>

	<logger name="MvcLogger">
		<level value="ALL" />
		<appender-ref ref="MvcRollingFileAppender" />
	</logger>

	<root>
		<level value="ALL" />
	</root>
</log4net>
